<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- The INTERNET permission is required for development. -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- override the Cardinal SDK’s label -->
    <application
        tools:replace="android:label"
        android:label="fluttermultigrocery" />

</manifest>
